{% extends "layout.html" %}

{% block header %}{% endblock header %}

{% block content %}
<div class="content-div">
    {% for data in database %}
        {% if data['category'] != 'book' %}
            <a href="{{data['link']}}" target="_blank">
                <div class="content-item">
                    <h3>{{data['title']}}</h3>
                    <img src="{{ url_for('static', filename='images/')}}{{data['field']}}/{{data['image_file']}}">
                    <div class="content-item-description">{{ data.description}}</div>
                    <p class="content-item-lang">Lang: <span>{{data['language']}}</span></p>
                    <p class="content-item-source">Source: <span>{{data['source']}}</span></p>
                </div>
            </a>
        {% else %}
        <a href="{{ url_for('static', filename="textbooks/")}}{{data['link']}}" target="_blank">
            <div class="content-item">
                <h3>{{data['title']}}</h3>
                <img src="{{ url_for('static', filename='images/')}}{{data['field']}}/{{data['image_file']}}">
                <div class="content-item-description">{{ data['description']}}</div>
                <p class="content-item-lang">Lang: <span>{{data['language']}}</span></p>
                <p class="content-item-source">Source: <span>{{data['source']}}</span></p>
            </div>
        </a>
        {% endif %}
    {% endfor %}
</div>
{% endblock content %}