{% extends "layout.html" %}

{% block content %}
<div class="main-screen">
    <div class="main-screen-table">
        <ul class="list-content">
            <a href="{{ url_for('render_page', path='intro_to_cs') }}"><li>Introduction to Computer Science</li></a>
            <a href="{{ url_for('render_page', path='programming101')}} "><li>Programming 101</li></a>
            <a href="{{ url_for('render_page', path='data_structures_and_algorithms') }}"><li>Data Structures and Algorithms</li></a>
            <a href="{{ url_for('render_page', path='data_bases') }}"><li>Data Bases</li></a>
            <a href="{{ url_for('render_page', path='computer_networks') }}"><li>Computer Networks</li></a>
            <a href="{{ url_for('render_page', path='computer_architecture') }}"><li>Computer Architecture</li></a>
            <a href="{{ url_for('render_page', path='operating_systems') }}"><li>Opearting Systems</li></a>
            <a href="{{ url_for('render_page', path='mathematics') }}"><li>Mathematics</li></a>
            <a href="{{ url_for('render_page', path='physics') }}"><li>Physics</li></a>
            <a href="{{ url_for('render_page', path='artificial_intelligence')}}"><li>Artificial Intelligence</li></a>
        </ul>
    </div>
    <div class="main-screen-header">
        <div style="display: flex; flex-direction: column; justify-content: center;">
            <h1>FourthCause</h1>
            <p class="greetings-2">Resources that will
            contribute to your learning journey in Computer Science.</p>
        </div>
        <div class="main-screen-content">   
            <div class="content-div-home">
                <a href="https://www.youtube.com/playlist?list=PL-osiE80TeTskrapNbzXhwoFUiLCjGgY7" target="_blank">
                    <div class="content-item-home">
                        <h6>Corey Schafer(Python)</h6>
                        <img src="https://yt3.googleusercontent.com/ytc/AIdro_lD6K9DGGqWttThktCDttOdlHIHWZQ7Gcdd9WRSEqYUxw=s900-c-k-c0x00ffffff-no-rj" target="_blank">
                        <div class="content-item-home-description">"In these Python Beginner Tutorials, we will be learning the fundamentals of Python programming from the ground up."</div>
                        <p class="content-item-home-lang">Lang: <span>English</span></p>
                        <p class="content-item-home-source">Source: <span>YouTube</span></p>
                    </div>
                </a>
                <a href="https://www.youtube.com/playlist?list=PLlrATfBNZ98dudnM48yfGUldqGD0S4FFb" target="_blank">
                    <div class="content-item-home">
                        <h6>C++ by The Cherno</h6>
                        <img src="https://i.ytimg.com/vi/18c3MTX0PK0/hq720.jpg?sqp=-oaymwEXCK4FEIIDSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLAlycvPZEnfNsgba75KxAceWH35eQ">
                        <div class="content-item-home-description">C++ tutorial playlist by EA Sports Engineer.</div>
                        <p class="content-item-home-lang">Lang: <span>English</span></p>
                        <p class="content-item-home-source">Source: <span>YouTube</span></p>
                    </div>
                </a>
                <a href="https://www.youtube.com/playlist?list=PLDN4rrl48XKpZkf03iYFl-O29szjTrs_O" target="_blank">
                    <div class="content-item-home">
                        <h6>Introduction to Algorithms.</h6>
                        <img src="https://i.ytimg.com/vi/0IAPZzGSbME/maxresdefault.jpg">
                        <div class="content-item-home-description">Why we write Algorithm?
                            Who writes Algorithm?
                            When Algorithms are written?
                            
                            Differences between Algorithms and Programs</div>
                        <p class="content-item-home-lang">Lang: <span>English</span></p>
                        <p class="content-item-home-source">Source: <span>YouTube</span></p>
                    </div>
                </a>
                <a href="https://www.youtube.com/@cs50/playlists">
                    <div class="content-item-home">
                        <h6>CS50</h6>
                        <img src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/i8G4gF0rJhEA/v4/-1x-1.jpg" target="_blank">
                        <div class="content-item-home-description">Harvard's introductory course to Computer Science</div>
                        <p class="content-item-home-lang">Lang: <span>English</span></p>
                        <p class="content-item-home-source">Source: <span>YouTube</span></p>
                    </div>
                </a>
                <a href="https://www.youtube.com/watch?v=G3e-cpL7ofc&t=3782s" target="_blank">
                    <div class="content-item-home">
                        <h6>Super Simple Dev - HTML and CSS</h6>
                        <img src="https://i.ytimg.com/vi/G3e-cpL7ofc/hqdefault.jpg">
                        <div class="content-item-home-description">"Learn to build websites with HTML and CSS. This is a full course that covers all levels from beginner to pro."</div>
                        <p class="content-item-home-lang">Lang: <span>English</span></p>
                        <p class="content-item-home-source">Source: <span>YouTube</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div style="text-align: center; margin-top: 100px">
    <q style="font-size: 14px; margin-right: 15px; font-style: italic; color: rgb(80, 80, 80)">We solve complex problems by orchestrating electrons</q>
    <p>Soon to come: more playlists related to Mathematics required to Computer Science,<br>more playlists related to different fields of Computer Science, books, and platforms to practice writing a code</p>
</div>

{% endblock content %}